@font-face 
{
    src: url("./Assets/Fonts/Shabnam.ttf");
    font-family: shabnam;
}
p
{
    margin:0;
    font-size: 10pt;
}
body
{
display: flex;
justify-content: space-around;
margin:0;
direction: rtl;
font-family: shabnam;
}
.right-menu
{
width:15%;
height:100vh;
background-color: white;
display: flex;
direction: rtl;
align-items: center;
flex-direction: column;

}
.right-menu__clock
{
width:70%;
height:80px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
top:40px;
color: rgb(141,95,229);
}
.right-menu__clock-number
{

font-size: 28pt;
}
.right-menu__user-information
{
width:70%;
height:35px;
position: relative;
top:70px;
color: rgb(192, 192, 192);
display: flex;
justify-content: space-between;
align-items: center;
}
.right-menu__user-information-personalimg
{
height: 100%;
border-radius: 25px;
}
.right-menu__user-information-middlediv
{
    height: 100%;
    display: flex;
    flex-direction: column;
justify-content: space-around;
align-items: center;

}
.right-menu__user-information-middlediv-name
{
    font-size: 10pt;
    color: gray;
}
.right-menu__user-information-middlediv-job
{
    font-size: 9pt;
    color: rgb(192, 192, 192);
}
.right-menu__treemenu-ul
{
    direction: rtl;
    position: relative;
    top:100px;
    width:70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-menu__treemenu-li
{
    width:100%;
    height:30px;
    display: flex;
    align-items: center;
    color: rgb(192, 192, 192);
    justify-content: space-between;
    padding: 5px 0px;
}
.right-menu__treemenu-returnableli
{
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    color: rgb(192, 192, 192);
    justify-content: space-between;
 display: flex;flex-direction: column;justify-content: space-between;align-items: flex-start;
padding: 5px 0px;

}
.right-menu__treemenu-returnableli-titr
{
  display: flex;justify-content: space-between;width: 100%;
}
.right-menu__treemenu-li-redlabel
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 2px 6px;
    background-color: red;
    font-size: 8pt;
    border-radius: 10px;
    color:white;
    font-family: shabnam;
}
.right-menu__treemenu-returnableli-innerli
{
    list-style-type: none;
    padding: 3px 0px;
    font-size: 10pt;
}
.container
{
width:85%;
height:100vh;
background-color: #f5f5f5;
}
.container__top-bar
{
    width:100%;
    height: 120px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container__top-bar-divs
{
    width:22%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
    box-shadow:  0px 0px 5px 0px rgb(230, 230, 230);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container__top-bar-divs-textdiv
{
    width: 70%;
    height: 70%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container__top-bar-divs-icondiv1
{
    width: 20%;
    height: 100%;
    background: rgb(141,95,229);
    background: linear-gradient(180deg, rgba(141,95,229,1) 0%, rgba(121,105,229,1) 35%, rgba(94,104,228,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.container__top-bar-divs-icondiv2
{
    width: 20%;
    height: 100%;
    background: rgb(254,198,59);
    background: linear-gradient(180deg, rgba(254,198,59,1) 0%, rgba(241,156,29,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.container__top-bar-divs-icondiv3
{
    width: 20%;
    height: 100%;
    background: rgb(243,71,127);
    background: linear-gradient(180deg, rgba(243,71,127,1) 0%, rgba(248,55,70,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.container__top-bar-divs-icondiv4
{
    width: 20%;
    height: 100%;
    background: rgb(34,196,245);
    background: linear-gradient(180deg, rgba(34,196,245,1) 0%, rgba(95,126,253,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.container__top-bar-divs-icon
{
    width: 55%;
}
.container__top-bar-divs-message-icon
{
    width: 45%;
}
.container__top-bar-divs-textdiv-total
{
font-size: 10pt;
color: rgb(192, 192, 192);
}
.container__top-bar-divs-textdiv-total-number
{

}
.container__top-bar-divs-textdiv-bottomtext
{
    font-size: 10pt;
    color: rgb(192, 192, 192);
}
.container__top-bar-divs-textdiv-bottomtext-number
{
color: rgba(121,105,229,1);
}
.container__top-bar-divs-textdiv-bottomtext-minuspercentage
{
    color: red;
}
.container__top-bar-divs-textdiv-bottomtext-pluspercentage
{
    color: rgb(18, 206, 18);
}
.container__middle-bar
{
width: 100%;
height:40vh;
direction: rtl;
background-color: #f5f5f5;
display: flex;
justify-content: space-around;
align-items: center;
}

.container__middle-bar-rightdiv
{
width: 55%;
height:90% ;
background: rgb(141,95,229);
background: linear-gradient(144deg, rgba(141,95,229,1) 0%, rgba(121,105,229,1) 35%, rgba(94,104,228,1) 100%);
border-radius: 3px;
box-shadow:  0px 0px 5px 0px rgb(230, 230, 230);
direction: ltr;
}
#container__middle-bar-rightdiv-edit-icon
{
    color: white;
    padding: 10px;
}
.container__middle-bar-leftdiv
{
    width: 40%;
    height:90%;
    background-color: white;
    border-radius: 3px;
    box-shadow:  0px 0px 5px 0px rgb(230, 230, 230);
}
.container__middle-bar-leftdiv-topbar
{
    width: 100%;
    height:25%;
    border-bottom: 0.1px solid  rgb(230, 230, 230) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__middle-bar-leftdiv-topbar-div
{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.container__middle-bar-leftdiv-topbar-div-dropdown-option
{

}
.container__middle-bar-leftdiv-topbar-div-dropdown
{
    background-color: white;
    color: rgb(177, 177, 177) ;
    border-radius: 5px;
    font-family: shabnam;
    width:90px;
    border-color: rgb(230, 230, 230) ;
    outline: none;
}
.container__middle-bar-leftdiv-topbar-titr-onfocus
{
    font-size: 11pt;
    border-bottom:2px solid rgb(141,95,229);
    display: block;
    width: auto;
    height: 30px;
    margin: 0px 5px;

}
.container__bottom-bar
{
    width: 100%;
    height:35vh;
    direction: rtl;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container__bottom-bar-rightdiv
{
    width: 55%;
    height:90%;
    background-color: white;
    border-radius: 3px;
    box-shadow:  0px 0px 5px 0px rgb(230, 230, 230);
}
.container__bottom-bar-leftdiv
{
    width: 40%;
    height:90%;
    background-color: white;
    border-radius: 3px;
    box-shadow:  0px 0px 5px 0px rgb(230, 230, 230);
}
.container__bottom-bar-leftdiv-topbar
{
    width: 100%;
    height:30%;
    border-bottom: 0.1px solid  rgb(230, 230, 230) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__bottom-bar-leftdiv-topbar-div
{
width: 90%;
display: flex;
justify-content: flex-start;
}
.container__bottom-bar-leftdiv-topbar-titr-onfocus
{
    font-size: 11pt;
    border-bottom:2px solid rgb(141,95,229);
    display: block;
    width: auto;
    height: 30px;
    margin: 0px 5px;
}
.container__bottom-bar-rightdiv-topbar
{
    width: 100%;
    height:30%;
    border-bottom: 0.1px solid  rgb(230, 230, 230) ;
    display: flex;
    align-items: center;
 margin-right: 30px;
}
.container__bottom-bar-rightdiv-topbar-div
{
width: 80;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

.container__bottom-bar-rightdiv-topbar-titr
{
    font-size: 10pt;
 display: flex;
 justify-content: start;
    width: auto;
    height: 20px;
    color:rgb(192, 192, 192) ;
    padding-right:20px;

}
.container__bottom-bar-rightdiv-label
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 2px 6px;
    background-color: red;
    font-size: 8pt;
    border-radius: 10px;
    color:white;
}
.container__bottom-bar-leftdiv-label
{
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 10px 10px;
    height:0;

    background-color: rgb(241, 241, 241);
    font-size: 8pt;
    border-radius: 7px;
    color:gray;
    font-family: shabnam;
}
.container__bottom-bar-rightdiv-topbar-titr-div-onfocus
{
display: flex;
height: 25px;
justify-content: space-between;
border-bottom:2px solid rgb(141,95,229);
}
.container__bottom-bar-rightdiv-topbar-titr-div
{
    height: 25px;
        display: flex;
        justify-content: space-between;

        
}